Categorical values are required to be numerified (denoted with numerical values), and this piece of code will help out to perform the task, in Python.

In [1]:
# ctn("0 or 1", "dataframe's column reference")
def ctn(n, x):
    if n == 0:
        unq = x.unique()
        num = list(range(0, len(x.unique())))
        s = {}
        for i in range(0, len(x.unique())):
            s.update({unq[i]:num[i]})
        return x.map(s)
    else:
        unq = x.unique()
        num = list(range(1, len(x.unique())+1))
        s = {}
        for i in range(0, len(x.unique())):
            s.update({unq[i]:num[i]})
        return x.map(s)

Here, n is either 0 or 1.<br>
For 0, the categorical value numerification will start from 0.<br>
For 1, the categorical value numerification will start from 1.<br><br>
And, x is the column reference. <br>
Both **dataframe.column** and **dataframe[“column”]** are operational.

In [2]:
# let's create a dataframe
import pandas as pd

df = pd.DataFrame({
    "item_no":[1,2,3,4,5,6,7,8,9],
    "item":["banana", "mango", "grape", "mango", "grape", "banana", "mango", "grape", "kiwi"]
})

In [3]:
# let's check the dataframe
df

   item_no    item
0        1  banana
1        2   mango
2        3   grape
3        4   mango
4        5   grape
5        6  banana
6        7   mango
7        8   grape
8        9    kiwi

In [4]:
# now let's numerify the categorical values, item column, into numeric by using ctn() function
# at first, let's use 0 as n
ctn(0, df.item)

0    0
1    1
2    2
3    1
4    2
5    0
6    1
7    2
8    3
Name: item, dtype: int64

In [5]:
# now, let's use 1 as n
ctn(1, df.item)

0    1
1    2
2    3
3    2
4    3
5    1
6    2
7    3
8    4
Name: item, dtype: int64

In [6]:
# to mutate the values (changes to take place), refer the colum
# in this instence, it is numerified from 0
df.item = ctn(0, df.item)

In [7]:
# now, let's check the dataframe
df

   item_no  item
0        1     0
1        2     1
2        3     2
3        4     1
4        5     2
5        6     0
6        7     1
7        8     2
8        9     3

I hope, it helps you out, cheers!